/*
 * Author: Schuyler schuyler.smith@nutrien.com
 */
 
params {
    outdir          = 'results'
    raw_seq_path    = 'sequences'
    samples         = ['sample_1', 'e_coli/']

}

plugins{
    id 'nf-amazon'
    id 'nf-google'
}
profiles {
    aws {
        includeConfig 'configs/profiles/aws.config'
    }
    gcp {
        includeConfig 'configs/profiles/gcp.config'
        includeConfig 'configs/profiles/gcp_read_qc.config'
        includeConfig 'configs/profiles/gcp_protein_annotation.config'
        includeConfig 'configs/profiles/gcp_taxonomic_assignment.config'
        includeConfig 'configs/profiles/gcp_misc.config'
    }  
}

includeConfig 'configs/read_qc.config'
includeConfig 'configs/protein_annotation.config'
includeConfig 'configs/taxonomic_assignment.config'
includeConfig 'configs/database_processes.config'

docker.enabled = true
resume = true

manifest {
  author = 'Schuyler Smith'
}

