/*
 * Author: Schuyler Smith <schuyler-smith.github.io>
 */

process {
    publishDir = [path: "${params.outdir}"]
    
    withName: DIAMOND_BLASTX {
        publishDir = [
            path: "${params.outdir}/diamond", 
            mode: 'copy'
        ]
        ext.args = [
            '--max-target-seqs 1',
            '--min-score 50',
            '--block-size 15',
            '--index-chunks 1',
            '--fast',
        ].join(' ').trim()
    }

    withName: MEGAN {
        publishDir = [
            path: "${params.outdir}/megan", 
            mode: 'copy'
        ]
    }

}