/*
 * Author: Schuyler Smith <schuyler-smith.github.io>
 */

process {
  publishDir = [path: "${params.outdir}"]

  withName: FASTQC {
    publishDir  = [
      path: "${params.outdir}/fastqc", 
      mode: 'copy'
    ]
  }

  withName: FASTP {
    publishDir = [
      path: "${params.outdir}/fastp", 
      mode: 'copy'
    ]
    ext.args = [
      '--trim_poly_g',
      '--poly_g_min_len 4',
      '--low_complexity_filter',
      '--dont_eval_duplication',
      '--n_base_limit 1',
      '--length_required 100'
    ].join(' ').trim()
  }

  withName: FASTP_TRIM {
    publishDir = [
      path: "${params.outdir}/fastp_trim", 
      mode: 'copy'
    ]
    ext.args = [
      '--trim_poly_g',
      '--poly_g_min_len 4',
      '--low_complexity_filter',
      '--dont_eval_duplication',
      '--n_base_limit 1',
      '--length_required 100'
    ].join(' ').trim()
  }

  withName: TRIMMOMATIC {
    publishDir = [
      path: "${params.outdir}/trimmomatic", 
      mode: 'copy'
    ]
    ext.args = [
      'ILLUMINACLIP:/opt/adapters/TruSeq3-PE-2.fa:2:30:10',
      'SLIDINGWINDOW:3:20',
      'MINLEN:100' 
    ].join(' ').trim()
  }

  withName: BBMERGE {
    publishDir = [
      path: "${params.outdir}/bbmerge", 
      mode: 'copy'
    ]
    ext.args = [
      'minoverlap=1'
    ].join(' ').trim()
  }

  withName: PANDASEQ {
    publishDir = [
      path: "${params.outdir}/bbmerge", 
      mode: 'copy'
    ]
    ext.args = [
      '-F',
      '-l 100',
      '-o 1',
      '-p AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC',
      '-q AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT',
    ].join(' ').trim()
  }
  
}