/*
 * Author: Schuyler Smith <schuyler-smith.github.io>
 */

process {
    publishDir = [path: "${params.outdir}"]

    withName: KRAKEN {  
        publishDir = [
            path: "${params.outdir}/kraken", 
            mode: 'copy'
        ]
    }

    withName: BRACKEN {
        publishDir = [
            path: "${params.outdir}/bracken", 
            mode: 'copy'
        ]
    }

    withName: KRAKEN_BIOM {  
        publishDir = [
            path: "${params.outdir}/kraken-biom", 
            mode: 'copy'
        ]
    }

}